body {
  margin: 0;
  font-family: Corpid, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Typography */
h1 {
	font-size: 44pt;
}
h2 {
	font-size: 46pt;
}
h3 {
	font-size: 24pt;
}
p {
	font-size: 22pt;
}
.text-emphasize {
	color: #0B8AD9;
}
.text-suspect {
	color: #0ED8D8;
}
.text-muted {
	color: #999;
}

/* Card */
.card-title {
	font-size: 22pt;
}
.card-text {
	font-size: 46pt;
}

/* Table */
.table thead th, .table thead td {
	font-size: 22px;
}

/* Button */
.btn {
	padding: 0.75rem 2rem;
  border-radius: 0.75rem;
  border: none;
  color: #FFF;
}
.btn-active {
	background: #FF4D84;
}
.btn-active:hover {
	background: #ec3b72;
}
.btn-inavtive {
	background: #10A0E8;
}
.btn-inavtive:hover {
	background: #058dd2;
}
.btn-rollover {
	background: #144673;
}
.btn-rollover:hover {
	background: #052440;
}

/* Color palette */
.bg-recovered {
	background: #10A0E8;
}
.bg-deceased {
	background: #144673;
}
.bg-confirmed {
	background: #FF4D84;
}
.bg-suspect {
	background: #0ED8D8;
}
.bg-white {
	background: #FFF;
}
.bg-05grey {
	background: #f2f2f2;
}
.bg-25grey {
	background: #ccc;
}
.bg-40grey {
	background: #999;
}

/* Mobile style sheet */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
	/* Typography */
	h1 {
		font-size: 87pt;
	}
	h2 {
		font-size: 87pt;
	}
	h3 {
		font-size: 39pt;
	}
	p {
		font-size: 41pt;
	}
	/* Table */
	.table thead th, .table thead td {
		font-size: 33px;
	}
  /* Card */
	.card-title {
		font-size: 33pt;
	}
	.card-text {
		font-size: 76pt;
	}
}

.google-places-autocomplete__suggestions-container {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    z-index: 10;
    width: 90%;
}

.google-places-autocomplete__suggestion {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.google-places-autocomplete__suggestion:hover {
    background-color: rgba(0, 0, 0, 0.09);
    cursor: pointer;
}

/* Below are for Map View */
#map-view .stats-card {
	background: #0e1626;
	border-radius: 0px;
	cursor: pointer;
}

#map-view .stats-card-selected {
	background: #023146;
}