@import "bootstrap/bootstrap.scss";
@font-face {font-family: "Corpid"; src: url("//db.onlinewebfonts.com/t/53852db06b7fb4c3f3b5cf3f9f5fbd66.eot"); src: url("//db.onlinewebfonts.com/t/53852db06b7fb4c3f3b5cf3f9f5fbd66.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/53852db06b7fb4c3f3b5cf3f9f5fbd66.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/53852db06b7fb4c3f3b5cf3f9f5fbd66.woff") format("woff"), url("//db.onlinewebfonts.com/t/53852db06b7fb4c3f3b5cf3f9f5fbd66.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/53852db06b7fb4c3f3b5cf3f9f5fbd66.svg#Corpid") format("svg"); }

$primary: #0B8AD9;
$secondary: #FF4D84;
$tertiary: #0ED8D8;

$light-blue: #07C7F2;
$dark-blue: #144673;
$white: #FFFFFF;
$black: #000000;

$light-label: #999999;
$light-grey: #f2f2f2;

$theme-colors: (
    primary:    $primary,
    secondary:  $secondary,
    success:    $success,
    info:       $info,
    warning:    $warning,
    danger:     $danger,
    light:      $light,
    dark:       $dark
);

body {
	font-family: 'Corpid';
	background: $dark-blue url('/images/body-background.png') repeat-x;
	padding: 45px;
}

h2, h3, h4 { color: $primary }

h2 {
	color: $primary;
	margin-bottom: 25px;
}

a {
	color: $secondary;
}

.container {
	border-radius: 18px;
	padding: 0;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.nav-container {
	position: relative;
	.navbar {
		position: absolute;
		z-index: 1000;
		.navbar-nav {
			flex-direction: row;
			text-align: right;
			a {
				margin-right: 20px;
				color: $light-grey;
			}
		}
	}
}

.btn {
	border-radius: 14px;
	&.btn-primary {
		background-color: $primary;
		&:not(:disabled):not(.disabled).active {
			background-color: $secondary;
			border-color: $secondary;
		}
	}
}

.logo {
	width: 90px;
	margin-top: 10px;
	margin-left: 10px;
}

.page-body {
	background-color: $white;
	border-radius: 18px;
}

.statistics {
	display: flex;
	border-bottom: 1px solid $light-grey;
	border-right: 1px solid $light-grey;
	padding: 20px 0;
}

.stat-left {
	float: left;
	width: 20%;
	flex-grow: 1;
	text-align: center;
	.badge {
		display: inline-block;
		width: 18px;
		height: 18px;
		border-radius: 9px;
		margin-top: 4px;
		&.red { background: $secondary }
		&.green { background: $tertiary }
		&.blue { background: $light-blue }
		&.black { background: $black }
	}
}

.stat-right {
	float: left;
	width: 80%;
	clear: both;
	.statistic-title {
		color: $light-label;
		font-size: 12px;
	}
	.statistic {
		font-size: 30px;
	}
}

.padded-body {
	padding: 40px;
}

.questionnaire-box {
	display: flex;
	border-bottom: 1px solid $light-grey;
	a {
		color: $black;
		flex-grow: 1;
		padding: 27px 0 26px 20px;
		.icon {
			float: left;
			max-width: 64px;
			width: 20%;
		}
		.text {
			margin-left: 15px;
			float: left;
			width: 50%;
			.title {
				font-size: 20px;
				color: $tertiary;
			}
			.sub-title {
				font-size: 12px;
				color: $light-label;
				width: 100%;
			}
		}
		.button {
			margin: 15px;
			float: left;
			max-width: 32px;
			width: 10%;
		}
	}
	&.mobile {
		background-color: $tertiary;
		color: $white;
		a {
			padding: 20px;
			color: $white;
			.text {
				width: 75%;
				margin-top: 7px;
				.title {
					color: $white;
				}
				.sub-title {
					color: $black;
				}
			}
		}
	}
}

.map {
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	background: $dark-blue
}

.jumbotron {
	background: $dark-blue url('/images/header-overlay.png');
	border-radius: 18px;
	color: $white;
	padding-top: 150px;
}

.card {
	border-radius: 18px;
}

.google-places-autocomplete__suggestions-container {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    z-index: 10;
    width: 90%;
}

.google-places-autocomplete__suggestion {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.google-places-autocomplete__suggestion:hover {
    background-color: rgba(0, 0, 0, 0.09);
    cursor: pointer;
}

.footer {
	text-align: right;
	color: $light-grey;
	font-size: 12px;
	a {
		color: $light-grey;
		font-size: 12px;
	}
}

.github {
	position: absolute;
	top: 0;
	right: 0;
}
input[type="range"] {
	width: 300px;
	background: transparent;
  }
  /*###################################*/
  /*###########Responsive Range########*/
  /*###################################*/
  /*##############Core Style###########*/
  
  input[type="range"] {
	margin: 35px 0;
	-webkit-appearance: none;
	width: 100%;
  }
  
  input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
  }
  
  input[type="range"]:focus {
	outline: none;
  }
  
  input[type="range"]::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
  }
  /*#############Thumb##############*/
  
  input[type="range"]::-webkit-slider-thumb {
	  border-radius: 18px;
	-webkit-appearance: none;
	height: 36px;
	width: 36px;
	background:$secondary;
	cursor: pointer;
	margin-top: -12px;
  }
  
  input[type="range"]::-moz-range-thumb {
	border-radius: 18px;
	height: 36px;
	width: 36px;
	background: $secondary;
	cursor: pointer;
  }
  
  input[type="range"]::-ms-thumb {
	border-radius: 18px;
	height: 36px;
	width: 36px;
	background: $secondary;
	cursor: pointer;
  }
  /*#############Track##############*/
  
  input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 12px;
	cursor: pointer;
	background: $light-blue;
  }
  
  input[type="range"]:active::-webkit-slider-runnable-track {
	background:$light-blue;
  }
  
  input[type="range"]::-moz-range-track {
	width: 100%;
	height: 12px;
	cursor: pointer;
	background:$light-blue;
  }
  
  input[type="range"]::-ms-track {
	width: 100%;
	height: 12px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
  }
  
  input[type="range"]::-ms-fill-lower {
	background: #ccc;
  }
  
  input[type="range"]:focus::-ms-fill-lower {
	background: #ddd;
  }
  
  input[type="range"]::-ms-fill-upper {
	background: #ccc;
  }
  
  input[type="range"]:focus::-ms-fill-upper {
	background: #ddd;
  }
  

@include media-breakpoint-down(md) {
	body {
		padding: 0 0 25px 0;
	}

	.container {
		border-radius: 0;
	}

	.padded-body {
		padding: 40px 20px;
	}

	.page-body {
		border-radius: 0;
	}

	.map {
		border-radius: 0;
	}
}